:root {
    --primary-color-: #7ab800; 
    --logo-color: #4d4e6a; 
    --basic-font-fam: Arial, Helvetica, sans-serif;
    --basic-transition-ms:600ms;
}
/*Css om optie block maken*/
#otherInput {
    display: none;
}